In [1]:
import requests
import pandas as pd
from pprint import pprint as pp

In [10]:
cords_sp = '59.9386, 30.3141'
json_city = requests.get(f"https://www.metaweather.com/api/location/search/?lattlong={cords_sp}").json()
ident_cords = json_city[0]['woeid']
print(ident_cords)

2123260

In [9]:
name_sp = 'St Petersburg'
json_city = requests.get(f"https://www.metaweather.com/api/location/search/?query={name_sp}").json()
ident_name = json_city[0]['woeid']
print(ident_name)

2123260

In [8]:
name_hel = 'Helsinki'
json_city = requests.get(f"https://www.metaweather.com/api/location/search/?query={name_hel}").json()
ident_hel = json_city[0]['woeid']
print(ident_hel)

565346

In [53]:
data = []
for date in range(24, 31):
    
    day_data = pd.DataFrame(requests.get(f'https://www.metaweather.com/api/location/{ident_hel}/2019/9/{date}/').json())
    relevant = day_data[day_data.predictability == max(day_data['predictability'])]
    data.append(round(relevant['min_temp'].mean()))
    print(f'Средняя наиболее вероятная минимальная температура {date} сентября в городе {name_hel}: ', round(relevant['min_temp'].mean()))

Средняя наиболее вероятная минимальная температура 24 сентября в городе Helsinki:  6
Средняя наиболее вероятная минимальная температура 25 сентября в городе Helsinki:  5
Средняя наиболее вероятная минимальная температура 26 сентября в городе Helsinki:  5
Средняя наиболее вероятная минимальная температура 27 сентября в городе Helsinki:  4
Средняя наиболее вероятная минимальная температура 28 сентября в городе Helsinki:  7
Средняя наиболее вероятная минимальная температура 29 сентября в городе Helsinki:  8
Средняя наиболее вероятная минимальная температура 30 сентября в городе Helsinki:  8

In [50]:
dates = ['24.09','25.09','26.09','27.09', '28.09', '29.09', '30.09']
pd.DataFrame({'Day':dates, 'Min Temp':data})

     Day  Min Temp
0  24.09         6
1  25.09         5
2  26.09         5
3  27.09         4
4  28.09         7
5  29.09         8
6  30.09         8

In [66]:
pd.DataFrame(requests.get(f'https://www.metaweather.com/api/location/{ident_name}/2019/9/24/').json())[60:69]
# минимальная температура в Петербурге аж 25 градусов (?)

,air_pressure,applicable_date,created,humidity,id,max_temp,min_temp,predictability,the_temp,visibility,weather_state_abbr,weather_state_name,wind_direction,wind_direction_compass,wind_speed
60,1015.67,2019-09-24,2019-09-17T01:19:28.074801Z,64,5091915630379008,27.29,25.38,68,26.04,NaN,c,Clear,330.0,NNW,1.509932
61,1015.67,2019-09-24,2019-09-16T22:19:29.027850Z,64,4821095259570176,27.29,25.38,68,26.04,NaN,c,Clear,330.0,NNW,1.509932
62,1014.96,2019-09-24,2019-09-16T19:19:31.726389Z,68,5092770446311424,28.45,26.57,77,28.45,NaN,hr,Heavy Rain,168.0,SSE,1.913823
63,1014.96,2019-09-24,2019-09-16T16:19:31.640050Z,68,6468430016282624,28.45,26.57,77,28.45,NaN,hr,Heavy Rain,168.0,SSE,1.913823
64,1016.68,2019-09-24,2019-09-16T13:19:32.208710Z,60,4664311504961536,28.01,25.85,68,27.99,NaN,c,Clear,17.0,NNE,0.913416
65,1016.68,2019-09-24,2019-09-16T10:19:32.455277Z,60,5179722210213888,28.01,25.85,68,27.99,NaN,c,Clear,17.0,NNE,0.913416
66,1015.44,2019-09-24,2019-09-16T07:19:32.625067Z,70,6317184437452800,28.58,26.10,77,28.55,NaN,hr,Heavy Rain,135.0,SE,2.193440
67,1015.44,2019-09-24,2019-09-16T04:19:32.862107Z,70,6334359592239104,28.58,26.10,77,28.55,NaN,hr,Heavy Rain,135.0,SE,2.193440
68,1015.44,2019-09-24,2019-09-16T01:19:31.507286Z,67,6544484089200640,28.31,26.75,77,27.98,NaN,hr,Heavy Rain,331.0,NNW,1.000408